<div class="flex flex-col justify-between relative min-h-full p-4">
  <div class="flex flex-col link-container">
    <div
      class="bg-gray-400 w-full h-24 mb-4 rounded-2xl border-8 border-gray-300"
    ></div>
    <button
      routerLink="/containers/databases/listing"
      (click)="selectModule('tinker')"
      [ngClass]="{
        'active-link': activeModule === 'tinker',
        'inactive-link': activeModule !== 'tinker'
      }"
      #containerLink
    >
      <ion-icon name="layers-outline"></ion-icon>
      <span>Containers</span>
    </button>
    <button
      routerLink="/mock/projects"
      (click)="selectModule('mock')"
      [ngClass]="{
        'active-link': activeModule === 'mock',
        'inactive-link': activeModule !== 'mock'
      }"
    >
      <ion-icon name="code-working-outline"></ion-icon>
      <span>Mock</span>
    </button>

    <button
      routerLink="/notes"
      (click)="selectModule('notes')"
      [ngClass]="{
        'active-link': activeModule === 'notes',
        'inactive-link': activeModule !== 'notes'
      }"
    >
      <ion-icon name="clipboard-outline"></ion-icon>
      <span>Notes</span>
    </button>
  </div>
  <app-login-button></app-login-button>
</div>
